
.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* ===== Shared styles ===== */
.primary_color{
  color: #FD6E0A;
}
.dark_1{
  color: #181818;
}
.dark_2{
  color: #474747;
}
.dark_3{
  color: #757575;
}
.btn_primary{
  background-color: #FD6E0A;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
}
.section_title{
  font-size: 35px;
  font-weight: 700;
  color: #181818;
}
.section_description{
  font-size: 18px;
  color: #757575;
}
.text_center{
  text-align: center;
}

/* ===== Header styles ===== */
.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  background-color: #FFF8F3;
}

/* ===== Nav styles ===== */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
  list-style: none;
  margin-right: 50PX;
  font-size: 20px;
}
nav li a{
  text-decoration: none;
}
.nav_title{
  font-weight: 800;
  font-size: 45px;
}

/* ===== Main styles ===== */
main{
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}

/* ===== Banner styles ===== */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 200px;
}
.banner_content{
  width: 585px;
}
.banner_greetings{
  font-size: 45px;
  font-weight: 600;
  margin-bottom: -50px;
}
.banner_title{
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 30px;
}
.banner_description{
  font-size: 18px;
  margin-bottom: 40px;
}
.profile_picture{
  width: 585px;
}
.download_button{
 margin-right: 20px;
}
.contact_button{
  background-color: #FFF8F3;
  font-size: 20px;
  font-weight: 700;
  color: #FD6E0A;
  padding: 18px 35px;
  border:2px solid #FD6E0A;
  border-radius: 5px;
}

/* ===== About styles ===== */
.about{
background-color: #FFF8F3;
padding: 130px 155px;
border-radius: 10px;
}
.about_content{
  border: 1px solid;
  background-color: #FFFFFF;
}
.about_items{
  display: flex;
  justify-content: space-around;
}
.item_title{
  font-size: 20px;
  color: #757575;
}
.item_description{
  font-size: 20px;
  font-weight: 700;
}

/* ===== What I do styles ===== */
.skills_desc{
  padding: 0 120px;
}
.skils_container{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill_description{
  color: #757575;
  padding: 0 45px 0 0;
}
.skill_title{
  font-size: 20px;
  font-weight: 700;
}
.section_title{
  margin-bottom: 40px;
}
.section_description{
  margin-bottom: 50px;
}

/* ===== resume styles ===== */
.resume_container{
  display: flex;
  gap: 24px;
}
.resume_column_title{
font-size: 30px;
}
.resume_column_title, .experience_title{
  color: #474747;
  font-weight: 700;
}
.experience_title{
font-size: 25px;
margin-bottom: -20px;
}
.experience_sub_title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.experience_sub_title, .experience_description{
color: #757575;
}
.resume_column hr{
margin: 30px 0;
}

/* ===== footer styles ===== */
.footer{
  background-color: #FFF8F3;
}
.footer_container{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 115px;
  padding: 130px 0; 
}
.footer_icon a{
margin-right: 20px;
}
input[type="text"], input[type="email"], textarea{
background-color: #FFFFFF;
padding: 25px 20px;
width: 100%;
font-size: 20px;
border-radius: 5px;
border: none;
margin-bottom: 24px;
color: #474747;
}
